@import url('./assets/fonts/montserrat/stylesheet.css');

:root {
    --white: white;
    --black: black;
    --color-01: red;

    --escuro: #1C1F2D;
    --claro: white;

    --bg-color: var(--claro);
    --text-color: var(--black);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    background-color: var(--bg-color);
    color: var(--text-color);
}

button {
    cursor: pointer;
}
