@import url('./assets/fonts/montserrat/stylesheet.css');

:root {
    --white: white;
    --black: black;

    --color-01: #0a2630;
    --color-02: #07151a;
    --color-03: #5a455e;
    --color-04: #92516e;
    --color-05: #b3667c;
    --color-06: #c0959c;
    --color-07: #6c9089;
    --color-08: #f3dac8;

    --escuro: var(--color-01);
    --claro: var(--color-08);

    --bg1: var(--color-02);
    --bg2: var(--color-07);

    --capa1: url(/assets/img/bg2.jpg);
    --capa2: url(/assets/img/bg1.jpg);

    --bg-Menu1: rgba(0,0,0,.8);
    --bg-Menu2: rgba(255,255,255,.3);

    --bg-arrow-01: rgba(108,144,137,.5);
    --bg-arrow-02: rgba(7,21,26,.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


html {
    scroll-behavior: smooth;
    text-wrap: pretty;
}

body {
    font-family: 'Montserrat';
    background-color: var(--bg-color);
    color: var(--text-color);
}

.bg-sections {
    background-color: var(--bg);
}

button {
    cursor: pointer;
}

h1 {
    font-size: 2rem;
    @media (max-width: 768px) {
        font-size: 1.8rem;
    }
}

p {
    font-size: 1rem;
}

.hide {
    display: none;
}